@tailwind base;  
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('./bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    cursor: pointer;
    width: 8px;
}
::-webkit-scrollbar-track {
    cursor: pointer;
    background: #555;
    border-radius: 5px;
} 
::-webkit-scrollbar-thumb {
    background:#242424
}